dotenv

use flake --extra-experimental-features nix-command --extra-experimental-features flakes

if [ -f .env.local ]; then
  echo "Loading .env.local"
  source .env.local
else
  echo ".env.local not found"
fi
