dotenv

use flake

# add your HONEYCOMB_API_KEY and HONEYCOMB_DATASET in .env.local to test HONEYCOMB
if [ -f .env.local ]; then
  echo "Loading .env.local"
  source .env.local
else
  echo ".env.local not found"
fi
